{% extends '../base.html' %}

{%block content%}
    <header class="header">
    <h1>Index page</h1>
    </header>  

    {% if vocabs %}
        {% for v in vocabs %}
            <h4>{{ v.word }}</h4>
            <p class="em">{{ v.description }}</p>
            <a href="{% url 'vocabulary' v.id %}" 
            class="waves-effect waves-light btn">More Info</a>
        {%endfor%}
       
       
    {% else %}
    <div class="col-md-12">
        <p>No Listings Available</p>
    </div>
    {% endif %}

    {% endblock %}