.header{
    display: block;
    width: 100%;
}
h1{
    /* color: red; */
    padding-bottom: .6rem;
    border-bottom: 2px solid #2c2c2c;
    display: inline-block;
}

.container{
    width: 80%;
    margin: auto;
}
.em {
    font-style: italic;
    font-size: 1.2rem;
    color: #e23535;
}